.rune-container {
    width: 80% !important;
    margin: auto;
    background:  transparent url('../assets/img/rune-container.png') repeat;
    margin-top: 5%;
    border-radius: 6px;
    margin-bottom: 5%;
}

.rune-container .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px;
}

.rune-container .col {
    height: 100%;
}

.in-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

 
@media screen and (max-width: 1439px) { 
    .rune-container { 
        width: 90% !important;
    }
}