.runeContainer {
    width: 80% !important;
    margin: auto;
    background:  transparent url('../assets/img/rune-container.png') repeat;
    margin-top: 5%;
    border-radius: 6px;
    margin-bottom: 5%;
}

.runeContainer .row {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0px;
}

.runeContainer .col {
    height: 100%;
}

 
@media screen and (max-width: 1439px) { 
    .runeContainer { 
        width: 90% !important;
    }
}