.profileInputContainer {
    padding: 25px;
    min-height: 300px;
 }
 .profileInputContainer h1 {
     text-align: center;
     font-size: 3rem;
     color: #ffde23;
 }
 
 .profileInputContainer form{
     width: 100%;
 }
 .profileInput  {
     background-color: #010709;
     border: 1px solid #355563;
     color: #aed0e0;
     border-radius: 6px;
     font-size: 1.3em;
     width: 35%;
     padding: 8px 12px;
     margin-right: 4px;
 }
 
 .profileInput::placeholder   {
     font-style: italic;
     color: #aed0e0;
     opacity: 0.5;
 }
 
 .profileInput::-moz-placeholder {
     font-style: italic;
     color: #aed0e0;
     opacity: 0.5;
 } 
 .profileInput::-webkit-input-placeholder {
     font-style: italic;
     color: #aed0e0;
     opacity: 0.5;
 }
 
 .profileButton {
     background: transparent url('../assets/img/icons.png') no-repeat 0 -213px;
     border: none;
     width: 56px;
     height: 56px;
     cursor: pointer
 }
 
 .inCenter{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  